body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

section {
    width: 100%;
    height: 100%;
}

canvas#gameCanvas {
    /*image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

img#gameBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

video#gameVideo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
}

/* Chat */

button#chat-button {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    border: solid black 2px;
    border-radius: 5px;
    width: 40px; 
    height: 40px;
    background: rgba(0, 0, 0, 0.658) url(/imgs/chat/chat.png) no-repeat center 0px / 100%;
    transition: all 0.5s;
}

div#unreadMessageCounter {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 30px;
    top: 4px;
    min-width: 18px; 
    height: 18px;
    color: white;
    background-color: rgb(40, 40, 40);
    border-radius: 100%;
    border: solid black 1px;
    font-size: 15px;
}

div#chat {
    cursor: auto;
    position: absolute;
    vertical-align: baseline;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid rgb(50, 50, 50) 2px;
    border-radius: 8px;
    top: 50px;
    left: 5px; 
    width: 400px;
    height: 50vh;
    transition: all 0.5s;
    animation: openChat 0.2s ease forwards;
}

div#chat-content {
    overflow: auto;
    cursor: auto;
    word-wrap: break-word;
    display: block;
    text-align: left;
    position: fixed;
    bottom: 34px;
    padding: 4px;
    width: 98%;
    max-height: 86%;
}

div#chat-content p#Header {
    cursor: pointer;
    vertical-align: baseline;
    margin: 0; 
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 40px;
}

div#chat-content p#Header span#Name:hover {
    text-decoration: underline;
}

div#chat-content p#Header span#Timestamp {
    cursor: text;
    font-size: 10px;
    color: rgb(150, 150, 150);
}

div#chat-content img#Avatar {
    position: absolute;
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 20px;
    border-radius: 100%;
}

div#chat-content p#Content {
    vertical-align: baseline;
    margin: 0;
    margin-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Mentioned {
    background-color: rgba(255, 0, 0, 0.5);
}

div#message-box {
    overflow: hidden;
    font-size: 15px;
    padding: 0 5px;
    position: absolute;
    background-color: rgb(40, 40, 40);
    height: 28px;
    width: 96.5%;
    margin: 2px 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    bottom: 0;
    left: 0;
    color: white;
    transition: all 0.5s;
    align-items: center;
    justify-content: left;
}

div#message-box-content {
    position: relative;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
}

span#messageBoxWritingPosition {
    height: 13px;
    width: 2px;
    transform: translateY(2px);
    margin: 0 2px;
    animation: messageBoxWritingPosition 0.9s linear infinite;
}

div#message-box .messageBoxText {
    display: inline-block;
}

div#message-box .space {
    width: 5px;
}

metion {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    /*background-color: rgb(0, 128, 135);
    color: rgb(228, 254, 255);*/
    background-color: rgb(113, 108, 0);
    color: white;
    padding: 1px 2px;
    border-radius: 4px;
    margin: 0 2px;
}

metion:hover {
    background-color: rgb(132, 125, 0);
}

button#send-button {
    position: absolute;
    cursor: pointer;
    background: rgb(34, 170, 0) url(/imgs/chat/send-button.png) no-repeat center;
    background-size: 100%;
    border: none;
    width: 15%;
    height: 30px;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
}